<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="rs-header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#rs-navbar"
        aria-expanded="false" aria-controls="rs-navbar" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="rs-header-logo" href="/">
        <img src="/assets/images/logos/researchspace_symbol_white.svg">
      </a>
{{!--      <a href="/">
        <div class='rs-header-title'>
          ResearchSpace
        </div>
      </a> --}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="rs-navbar">

      <ul class="nav navbar-nav navbar-left">
        
        <mp-anonymous-hidden>
          <li>
            <bs-dropdown id="navbar-dropdown">
              <bs-dropdown-toggle>
                <div>Create</div>
              </bs-dropdown-toggle>
              <bs-dropdown-menu>
                <div class="dropdown-sectionTitle">
                  ResearchSpace tools
                </div>
                <div class="dropdown-grid-container">
                  <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames" 
                                            urlqueryparam-view='semantic-narrative'>
                    <bs-menu-item>
                      <div class="dropdown-item-iconContainer">
                        <rs-icon icon-type="round" icon-name="description" style="color: #ffb450;"></rs-icon>
                      </div>
                      <div>
                        <div class="dropdown-item-title">Semantic narrative</div>
                        <div class="dropdown-item-description">Compose and share your research through an evolving narrative.</div>
                      </div>
                    </bs-menu-item>
                  </semantic-link-container>

                  <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames" 
                                            urlqueryparam-view='knowledge-map'>
                    <bs-menu-item>
                      <div class="dropdown-item-iconContainer">
                        <rs-icon icon-type="round" icon-name="account_tree" style="color: #ff7f66;"></rs-icon>
                      </div>
                      <div>
                        <div class="dropdown-item-title">Knowledge Map</div>
                        <div class="dropdown-item-description">Express research thinking and processes as networks of relations.</div>
                      </div>
                    </bs-menu-item>
                  </semantic-link-container>

                  <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames" 
                                            urlqueryparam-view='vocabulary'>
                    <bs-menu-item>
                      <div class="dropdown-item-iconContainer">
                        <i class="iconmoon iconmoon-books" style="color: #10BC7A;"></i>
                      </div>
                      <div>
                        <div class="dropdown-item-title">Vocabularies/Authorities</div>
                        <div class="dropdown-item-description">Create, view and edit vocabulary / authority list of terms.</div>
                      </div>
                    </bs-menu-item>
                  </semantic-link-container>

                  <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames" 
                                            urlqueryparam-view='vocabulary'>
                    <bs-menu-item>
                      <div class="dropdown-item-iconContainer">
                        <rs-icon icon-type="round" icon-name="image" style="color: #55A6FF;"></rs-icon>
                      </div>
                      <div>
                        <div class="dropdown-item-title">Image view and annotation</div>
                        <div class="dropdown-item-description">View, compare and annotate high-resolution images.</div>
                      </div>
                    </bs-menu-item>
                  </semantic-link-container> 

                </div>
              </bs-dropdown-menu>
            </bs-dropdown>
          </li>
        </mp-anonymous-hidden>

        <mp-anonymous-hidden>
          <li>
            <mp-event-proxy id='closeModal-onSelect-newResource-proxy'
                          on-event-source='openResourceForm-in-new-frame-trigger' 
                          on-event-type='Dashboard.AddFrame'
                          proxy-event-type='OverlayDialog.Close' 
                          proxy-targets='["newResource-form-dialog"]'
            ></mp-event-proxy>

            <mp-overlay-dialog title="New resource" type="lightbox" id="newResource-form-dialog">
              <mp-overlay-dialog-trigger>
                <button class="btn btn-default btn-textAndIcon" style="margin-left: 30px;">
                  <rs-icon icon-type="round" icon-name="add_box"></rs-icon>
                  <span>New resource</span>
                </button>
              </mp-overlay-dialog-trigger>
              <mp-overlay-dialog-content>
                <bs-tab-container id="new-resource-tab-container" default-active-key="all">
                  <bs-tabs mount-on-enter="true">

                    <bs-tab event-key="all" title="All resources">
                      <div class="resources-tab-container">
                        <semantic-table  id='newResource-tab-results'
                                        query='SELECT ?resourceConfig ?resourceName ?resourceOntologyClass ?resourceFormIRI ?resourceIcon WHERE {
                                                ?resourceConfig a Platform:resource_configuration . 
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceName .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                              
                                                OPTIONAL {
                                                  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                                                }
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/KP_category>)
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/Image_annotation>)
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map>)
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative>)
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set>)
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set_item>)
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/User>)
                                              } ORDER BY ASC(?resourceName)'

                                        tuple-template='\{{> newResourceCard}}',
                                        options='{"showFilter":true, "filterPlaceholderText":"Filter results by ontological type", "resultsPerPage":100}'
                      >
                        <template id='newResourceCard'>
                          <mp-event-trigger id='openResourceForm-in-new-frame-trigger' 
                                            type='Dashboard.AddFrame'
                                            data='{"viewId":"resource-editor", 
                                                  "entityTypeConfig": "\{{resourceConfig.value}}", 
                                                  "editable": true,
                                                  "customLabel": "New \{{resourceName.value}}",
                                                  "mode":"new"}' 
                                            targets='["thinking-frames"]'>

                              <div class="new-resource-card">
                                \{{#if resourceIcon}}
                                  <rs-icon icon-type="rounded" icon-name="\{{resourceIcon.value}}" symbol=true></rs-icon>
                                \{{else}}
                                  <rs-icon icon-type="rounded" icon-name="bubble_chart" symbol=true></rs-icon>
                                \{{/if}}
                                <div class="color-secondary text-font-size__base">\{{resourceName.value}}</div>
                              </div>
                          </mp-event-trigger>
                        </template>
                        </semantic-table>
                      </div>
                    </bs-tab>

                    <bs-tab event-key="general" title="Generic">
                      <div class="resources-tab-container">
                        <semantic-table id='newResource-tab-results'
                                        query='SELECT ?resourceConfig ?resourceName ?resourceOntologyClass ?resourceFormIRI ?resourceIcon WHERE {
                                                ?resourceConfig a Platform:resource_configuration . 
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceName .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                                
                                                OPTIONAL {
                                                  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                                                }
                                              
                                                FILTER (?resourceConfig NOT IN (
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set_item>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/KP_category>)
                                                )

                                                  FILTER (EXISTS {?resourceOntologyClass rdfs:subClassOf crm:E1_CRM_Entity} || (?resourceOntologyClass = crm:E1_CRM_Entity)) 

                                              } ORDER BY ASC(?resourceName)'
                                        tuple-template='\{{> newResourceCard}}',
                                        
                                        options='{"showFilter":true, "filterPlaceholderText":"Filter results by ontological type", "resultsPerPage":300}'
                      >
                        <template id='newResourceCard'>
                          <mp-event-trigger id='openResourceForm-in-new-frame-trigger' 
                                            type='Dashboard.AddFrame'
                                            data='{"viewId":"resource-editor", 
                                                  "entityTypeConfig": "\{{resourceConfig.value}}", 
                                                  "editable": true,
                                                  "customLabel": "New \{{resourceName.value}}",
                                                  "mode":"new"}' 
                                            targets='["thinking-frames"]'>

                              <div class="new-resource-card">
                                \{{#if resourceIcon}}
                                  <rs-icon icon-type="rounded" icon-name="\{{resourceIcon.value}}" symbol=true></rs-icon>
                                \{{else}}
                                  <rs-icon icon-type="rounded" icon-name="bubble_chart" symbol=true></rs-icon>
                                \{{/if}}
                                <div class="color-secondary text-font-size__base">\{{resourceName.value}}</div>
                              </div>
                          </mp-event-trigger>
                        </template>
                        </semantic-table>
                      </div>
                    </bs-tab>

                    <bs-tab event-key="thing" title="Things">
                      <div class="resources-tab-container">
                        <semantic-table  id='newResource-tab-results'
                                        query='SELECT ?resourceConfig ?resourceName ?resourceOntologyClass ?resourceFormIRI ?resourceIcon WHERE {
                                                ?resourceConfig a Platform:resource_configuration . 
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceName .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                              
                                                OPTIONAL {
                                                  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                                                }

                                                FILTER (?resourceConfig NOT IN (
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set_item>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/KP_category>,

                                                  #removed person, because subClass of Biological object
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Person>)
                                                )

                                                FILTER EXISTS {?resourceOntologyClass rdfs:subClassOf* crm:E18_Physical_Thing} 

                                              } ORDER BY ASC(?resourceName)'

                                        tuple-template='\{{> newResourceCard}}',
                                        options='{"showFilter":true, "filterPlaceholderText":"Filter results by ontological type", "resultsPerPage":50}'
                      >
                        <template id='newResourceCard'>
                          <mp-event-trigger id='openResourceForm-in-new-frame-trigger' 
                                            type='Dashboard.AddFrame'
                                            data='{"viewId":"resource-editor", 
                                                  "entityTypeConfig": "\{{resourceConfig.value}}", 
                                                  "editable": true,
                                                  "customLabel": "New \{{resourceName.value}}",
                                                  "mode":"new"}' 
                                            targets='["thinking-frames"]'>

                              <div class="new-resource-card">
                                \{{#if resourceIcon}}
                                  <rs-icon icon-type="rounded" icon-name="\{{resourceIcon.value}}" symbol=true></rs-icon>
                                \{{else}}
                                  <rs-icon icon-type="rounded" icon-name="bubble_chart" symbol=true></rs-icon>
                                \{{/if}}
                                <div class="color-secondary text-font-size__base">\{{resourceName.value}}</div>
                              </div>
                          </mp-event-trigger>
                        </template>
                        </semantic-table>
                      </div>
                    </bs-tab>

                    <bs-tab event-key="actor" title="Actors">
                      <div class="resources-tab-container">
                        <semantic-table  id='newResource-tab-results'
                                        query='SELECT ?resourceConfig ?resourceName ?resourceOntologyClass ?resourceFormIRI ?resourceIcon WHERE {
                                                ?resourceConfig a Platform:resource_configuration . 
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceName .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                              
                                                OPTIONAL {
                                                  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                                                }
                                                FILTER (?resourceConfig NOT IN (
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set_item>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/KP_category>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/User>)
                                                )

                                                FILTER EXISTS {?resourceOntologyClass rdfs:subClassOf* crm:E39_Actor} 

                                              } ORDER BY ASC(?resourceName)'

                                        tuple-template='\{{> newResourceCard}}',
                                        options='{"showFilter":true, "filterPlaceholderText":"Filter results by ontological type", "resultsPerPage":50}'
                      >
                        <template id='newResourceCard'>
                          <mp-event-trigger id='openResourceForm-in-new-frame-trigger' 
                                            type='Dashboard.AddFrame'
                                            data='{"viewId":"resource-editor", 
                                                  "entityTypeConfig": "\{{resourceConfig.value}}", 
                                                  "editable": true,
                                                  "customLabel": "New \{{resourceName.value}}",
                                                  "mode":"new"}' 
                                            targets='["thinking-frames"]'>

                              <div class="new-resource-card">
                                \{{#if resourceIcon}}
                                  <rs-icon icon-type="rounded" icon-name="\{{resourceIcon.value}}" symbol=true></rs-icon>
                                \{{else}}
                                  <rs-icon icon-type="rounded" icon-name="bubble_chart" symbol=true></rs-icon>
                                \{{/if}}
                                <div class="color-secondary text-font-size__base">\{{resourceName.value}}</div>
                              </div>
                          </mp-event-trigger>
                        </template>
                        </semantic-table>
                      </div>
                    </bs-tab>

                    <bs-tab event-key="event" title="Events">
                      <div class="resources-tab-container">
                        <semantic-table  id='newResource-tab-results'
                                        query='SELECT ?resourceConfig ?resourceName ?resourceOntologyClass ?resourceFormIRI ?resourceIcon WHERE {
                                                ?resourceConfig a Platform:resource_configuration . 
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceName .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                              
                                                OPTIONAL {
                                                  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                                                }
                                                FILTER (?resourceConfig NOT IN (
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set_item>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/KP_category>)
                                                )

                                                FILTER EXISTS {?resourceOntologyClass rdfs:subClassOf* crm:E2_Temporal_Entity} 

                                              } ORDER BY ASC(?resourceName)'

                                        tuple-template='\{{> newResourceCard}}',
                                        options='{"showFilter":true, "filterPlaceholderText":"Filter results by ontological type", "resultsPerPage":50}'
                      >
                        <template id='newResourceCard'>
                          <mp-event-trigger id='openResourceForm-in-new-frame-trigger' 
                                            type='Dashboard.AddFrame'
                                            data='{"viewId":"resource-editor", 
                                                  "entityTypeConfig": "\{{resourceConfig.value}}", 
                                                  "editable": true,
                                                  "customLabel": "New \{{resourceName.value}}",
                                                  "mode":"new"}' 
                                            targets='["thinking-frames"]'>

                              <div class="new-resource-card">
                                \{{#if resourceIcon}}
                                  <rs-icon icon-type="rounded" icon-name="\{{resourceIcon.value}}" symbol=true></rs-icon>
                                \{{else}}
                                  <rs-icon icon-type="rounded" icon-name="bubble_chart" symbol=true></rs-icon>
                                \{{/if}}
                                <div class="color-secondary text-font-size__base">\{{resourceName.value}}</div>
                              </div>
                          </mp-event-trigger>
                        </template>
                        </semantic-table>
                      </div>
                    </bs-tab>

                    <bs-tab event-key="concepts" title="Conceptual objects">
                      <div class="resources-tab-container">
                        <semantic-table  id='newResource-tab-results'
                                        query='SELECT ?resourceConfig ?resourceName ?resourceOntologyClass ?resourceFormIRI ?resourceIcon WHERE {
                                                ?resourceConfig a Platform:resource_configuration . 
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceName .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                              
                                                OPTIONAL {
                                                  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                                                }

                                                FILTER (?resourceConfig NOT IN (
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set_item>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/KP_category>,

                                                  #following resources are removed as listed in System resources or not for data entry,but only for resource edit
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Authority_document>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Document>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Image>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Image_annotation>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Audio>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Video>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/3d_model>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Publication>)
                                                )

                                                FILTER EXISTS {?resourceOntologyClass rdfs:subClassOf* crm:E28_Conceptual_Object} 

                                              } ORDER BY ASC(?resourceName)'

                                        tuple-template='\{{> newResourceCard}}',
                                        options='{"showFilter":true, "filterPlaceholderText":"Filter results by ontological type", "resultsPerPage":50}'
                      >
                        <template id='newResourceCard'>
                          <mp-event-trigger id='openResourceForm-in-new-frame-trigger' 
                                            type='Dashboard.AddFrame'
                                            data='{"viewId":"resource-editor", 
                                                  "entityTypeConfig": "\{{resourceConfig.value}}", 
                                                  "editable": true,
                                                  "customLabel": "New \{{resourceName.value}}",
                                                  "mode":"new"}' 
                                            targets='["thinking-frames"]'>

                              <div class="new-resource-card">
                                \{{#if resourceIcon}}
                                  <rs-icon icon-type="rounded" icon-name="\{{resourceIcon.value}}" symbol=true></rs-icon>
                                \{{else}}
                                  <rs-icon icon-type="rounded" icon-name="bubble_chart" symbol=true></rs-icon>
                                \{{/if}}
                                <div class="color-secondary text-font-size__base">\{{resourceName.value}}</div>
                              </div>
                          </mp-event-trigger>
                        </template>
                        </semantic-table>
                      </div>
                    </bs-tab>

                    <bs-tab event-key="system" title="System resources">
                      <div class="resources-tab-container">
                        <semantic-table  id='newResource-tab-results'
                                        query='SELECT ?resourceConfig ?resourceName ?resourceFormIRI ?resourceIcon WHERE {
                                                VALUES (?resourceConfig) { 
                                                  (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Authority_document>)
                                                  (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Document>)
                                                  (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Image>)
                                                  (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Publication>)
                                                  (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Audio>)
                                                  (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Video>)
                                                  (<http://www.researchspace.org/resource/system/resource_configurations_container/data/3d_model>)
                                                }

                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceName .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                                OPTIONAL {
                                                  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                                                }
                                              } ORDER BY ASC(?resourceName)'

                                        tuple-template='\{{> newResourceCard}}',
                                        options='{"showFilter":true, "filterPlaceholderText":"Filter results by ontological type", "resultsPerPage":50}'
                      >
                        <template id='newResourceCard'>
                          <mp-event-trigger id='openResourceForm-in-new-frame-trigger' 
                                            type='Dashboard.AddFrame'
                                            data='{"viewId":"resource-editor", 
                                                  "entityTypeConfig": "\{{resourceConfig.value}}", 
                                                  "editable": true,
                                                  "customLabel": "New \{{resourceName.value}}",
                                                  "mode":"new"}' 
                                            targets='["thinking-frames"]'>

                              <div class="new-resource-card">
                                \{{#if resourceIcon}}
                                  <rs-icon icon-type="rounded" icon-name="\{{resourceIcon.value}}" symbol=true></rs-icon>
                                \{{else}}
                                  <rs-icon icon-type="rounded" icon-name="bubble_chart" symbol=true></rs-icon>
                                \{{/if}}
                                <div class="color-secondary text-font-size__base">\{{resourceName.value}}</div>
                              </div>
                          </mp-event-trigger>
                        </template>
                        </semantic-table>
                      </div>
                    </bs-tab>

                  </bs-tabs>
                </bs-tab-container>

              </mp-overlay-dialog-content>
            </mp-overlay-dialog>
          </li>
        </mp-anonymous-hidden>

        <mp-anonymous-hidden>
          <li>
            <mp-event-trigger id='openProjectForm-in-new-frame-trigger' 
                              type='Dashboard.AddFrame'
                              data='{"viewId":"resource-editor", 
                                    "entityTypeConfig": "http://www.researchspace.org/resource/system/resource_configurations_container/data/Project", 
                                    "editable": true,
                                    "customLabel": "New project",
                                    "mode":"new"}' 
                              targets='["thinking-frames"]'>

              <button class="btn btn-action btn-textAndIcon" >
                <rs-icon icon-type="round" icon-name="add_box"></rs-icon>
                <span>New Project</span>
              </button>
            </mp-event-trigger>
            
          </li>
        </mp-anonymous-hidden>

        <bs-nav-dropdown id="test-dropdown" title="Testing">

            <semantic-link-container  uri="http://www.researchspace.org/resource/ThinkingFrames"
                                      urlqueryparam-view='resource-editor' 
                                      urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map'
                                      urlqueryparam-mode='new'>
              <bs-menu-item>knowledge map</bs-menu-item>
            </semantic-link-container>
          
            <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames"
                                      urlqueryparam-view='resource-editor' 
                                      urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative'
                                      urlqueryparam-mode='new'>
              <bs-menu-item>semantic narrative</bs-menu-item>
            </semantic-link-container>
          
            <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames"
                                    urlqueryparam-view='resource-editor' 
                                    urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Image_annotation'
                                    urlqueryparam-mode='new'>
              <bs-menu-item>image annotation</bs-menu-item>
            </semantic-link-container>

            <semantic-link-container  uri="http://www.researchspace.org/resource/ThinkingFrames"
                                      urlqueryparam-view='resource-editor' 
                                      urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Set'
                                      urlqueryparam-mode='new'>
              <bs-menu-item>Set</bs-menu-item>
            </semantic-link-container>

            <semantic-link-container  uri="http://www.researchspace.org/resource/ThinkingFrames"
                                      urlqueryparam-view='resource-editor' 
                                      urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                                      urlqueryparam-mode='new'>
              <bs-menu-item>User</bs-menu-item>
            </semantic-link-container>
          

        </bs-nav-dropdown>

   {{!--     <bs-nav-dropdown title="Testing1">

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Entity'
              urlqueryparam-mode='new'
            >
            entity 
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Timespan'
              urlqueryparam-mode='new'
            >
               timespan
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Persistent_item'
              urlqueryparam-mode='new'
            >
               persistent item
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='resource-editor' 
                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Place'
                urlqueryparam-mode='new'
              >
            place
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='resource-editor' 
                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Dimension'
                urlqueryparam-mode='new'
              >
            dimension
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Period'
              urlqueryparam-mode='new'
            >
               period
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Condition_state'
              urlqueryparam-mode='new'
            >
               condition state
            </semantic-link>
          </bs-menu-item>

        </bs-nav-dropdown>

        <bs-nav-dropdown title="Events">
          
          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Event'
              urlqueryparam-mode='new'
            >
               event
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Activity'
              urlqueryparam-mode='new'
            >
               activity
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Beginning_of_existence'
              urlqueryparam-mode='new'
            >
               beginning of existence
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/End_of_existence'
              urlqueryparam-mode='new'
            >
               end of existence
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Acquisition'
              urlqueryparam-mode='new'
            >
               acquisition
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Attribute_assignment'
              urlqueryparam-mode='new'
            >
               attribute assignment
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Creation'
              urlqueryparam-mode='new'
            >
                creation
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='resource-editor' 
                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Exhibition'
                urlqueryparam-mode='new'
              >
            exhibition
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Formation'
              urlqueryparam-mode='new'
            >
                formation
            </semantic-link>
          </bs-menu-item>


          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Joining'
              urlqueryparam-mode='new'
            >
               joining
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Leaving'
              urlqueryparam-mode='new'
            >
               leaving
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Modification'
              urlqueryparam-mode='new'
            >
               modification
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Move'
              urlqueryparam-mode='new'
            >
               move
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Project'
              urlqueryparam-mode='new'
            >
               project
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Transfer_of_custody'
              urlqueryparam-mode='new'
            >
               transfer of custody
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Curation_activity'
              urlqueryparam-mode='new'
            >
               curation activity
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Production'
              urlqueryparam-mode='new'
            >
               production
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Part_addition'
              urlqueryparam-mode='new'
            >
               part addition
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Part_removal'
              urlqueryparam-mode='new'
            >
               part removal
            </semantic-link>
          </bs-menu-item>

        </bs-nav-dropdown>

        <bs-nav-dropdown title="Events2">

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Birth'
              urlqueryparam-mode='new'
            >
               birth
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Transformation'
              urlqueryparam-mode='new'
            >
               transformation
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Death'
              urlqueryparam-mode='new'
            >
               death
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Destruction'
              urlqueryparam-mode='new'
            >
               destruction
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Dissolution'
              urlqueryparam-mode='new'
            >
               dissolution
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Condition_assessment'
              urlqueryparam-mode='new'
            >
               condition assessment
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Identifier_assignment'
              urlqueryparam-mode='new'
            >
               id assignment
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Measurement'
              urlqueryparam-mode='new'
            >
               measurement
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Type_assignment'
              urlqueryparam-mode='new'
            >
               type assignment
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Type_creation'
              urlqueryparam-mode='new'
            >
               type creation
            </semantic-link>
          </bs-menu-item>

        </bs-nav-dropdown>

        <bs-nav-dropdown title="Actors">

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Actor'
              urlqueryparam-mode='new'
            >
              actor
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Group'
              urlqueryparam-mode='new'
            >
               group
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Person'
              urlqueryparam-mode='new'
            >
               person
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='resource-editor' 
                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Organisation'
                urlqueryparam-mode='new'
              >
              organisation
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='resource-editor' 
                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                urlqueryparam-mode='new'
              >
            user
            </semantic-link>
          </bs-menu-item>

        </bs-nav-dropdown>

        <bs-nav-dropdown title="Things">

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Physical_thing'
              urlqueryparam-mode='new'
            >
               physical thing
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Physical_object'
              urlqueryparam-mode='new'
            >
               physical object
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Physical_man-made_thing'
              urlqueryparam-mode='new'
            >
               physical man-made thing
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Physical_feature'
              urlqueryparam-mode='new'
            >
               physical feature
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Biological_object'
              urlqueryparam-mode='new'
            >
               biological object
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Man-made_object'
              urlqueryparam-mode='new'
            >
               man-made object
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Curated_collection'
              urlqueryparam-mode='new'
            >
               collection
            </semantic-link>

          </bs-menu-item>
          
          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Series'
              urlqueryparam-mode='new'
            >
               series
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Site'
              urlqueryparam-mode='new'
            >
               site
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Man-made_feature'
              urlqueryparam-mode='new'
            >
               man made feature
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Right'
              urlqueryparam-mode='new'
            >
               right
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Publication'
              urlqueryparam-mode='new'
            >
               publication
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='resource-editor' 
                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Identifier'
                urlqueryparam-mode='new'
              >
            identifier
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Research_question'
              urlqueryparam-mode='new'
            >
               research question
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='resource-editor' 
                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Document'
                urlqueryparam-mode='new'
              >
            document
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='resource-editor' 
                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Image'
                urlqueryparam-mode='new'
              >
            image
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='resource-editor' 
                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Image_annotation'
                urlqueryparam-mode='new'
              >
            image annotation
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
              urlqueryparam-view='resource-editor' 
              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Material'
              urlqueryparam-mode='new'
            >
              material
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='resource-editor' 
                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Term'
                urlqueryparam-mode='new'
              >
            term
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='resource-editor' 
                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Title'
                urlqueryparam-mode='new'
              >
            title
            </semantic-link>
          </bs-menu-item>

          <bs-menu-item>
            <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                urlqueryparam-view='resource-editor' 
                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Type'
                urlqueryparam-mode='new'
              >
            type
            </semantic-link>
          </bs-menu-item>
          
        </bs-nav-dropdown>

  --}}
      </ul>

      <ul class="nav navbar-nav navbar-right">

        {{!-- Example resources dropdown
        <bs-nav-dropdown title="Example Resources" class="rs-nav-resources--margin">

            <li class="rs-dropdown-sectionTitle">Records</li>
            <semantic-link-container uri="#"><bs-menu-item>Resource 1</bs-menu-item></semantic-link-container>
            <semantic-link-container uri="#"><bs-menu-item>Resource 2</bs-menu-item></semantic-link-container>
            <semantic-link-container uri="#"><bs-menu-item>Resource 3</bs-menu-item></semantic-link-container>
            <bs-menu-item divider="true"></bs-menu-item>

            <li class="rs-dropdown-sectionTitle">Semantic Narratives</li>
            <semantic-link-container uri="#"><bs-menu-item>Resource 4</bs-menu-item></semantic-link-container>
            <bs-menu-item divider="true"></bs-menu-item>

            <li class="rs-dropdown-sectionTitle">Knowledge Maps</li>
            <semantic-link-container uri="#"><bs-menu-item>Resource 5</bs-menu-item></semantic-link-container>
           <bs-menu-item divider="true"></bs-menu-item>

            <li class="rs-dropdown-sectionTitle">Searches</li>
            <semantic-link-container uri="#"><bs-menu-item>Resource 6</bs-menu-item></semantic-link-container>
            <bs-menu-item divider="true"></bs-menu-item>

            <li class="rs-dropdown-sectionTitle">Arguments</li>
            <semantic-link-container uri="#"><bs-menu-item>Resource 7</bs-menu-item></semantic-link-container>
            
        </bs-nav-dropdown> --}}

     {{!--    <li>
          <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                         urlqueryparam-view='resource-editor'> 
            <div class="nav-iconAndLabel"> 
                <rs-icon icon-type="round" icon-name="edit_note"></rs-icon>
                <div>Entities</div>
            </div>
          </semantic-link>
        </li>

        <li>
          <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                         urlqueryparam-view='vocabulary'> 
            <div class="nav-iconAndLabel"> 
                <i class="iconmoon iconmoon-books"></i>
                <div>Authorities</div>
            </div>
          </semantic-link>
        </li>

        <li class="vl"></li>

        <li>
          <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                        urlqueryparam-view='system-assets'> 
            <div class="nav-iconAndLabel"> 
                <rs-icon icon-type="round" icon-name="image"></rs-icon>
                <div>Assets</div>
            </div>
          </semantic-link>
        </li>

        <li>
          <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                        urlqueryparam-view='system-narrative'> 
            <div class="nav-iconAndLabel"> 
              <rs-icon icon-type="round" icon-name="description"></rs-icon>
              <div>Narratives</div>
            </div>
          </semantic-link>
        </li>

        <li>
          <semantic-link iri="http://www.researchspace.org/resource/ThinkingFrames"
                        urlqueryparam-view='system-knowledge-maps'> 
            <div class="nav-iconAndLabel"> 
                <rs-icon icon-type="round" icon-name="account_tree"></rs-icon>
                <div>Maps</div>
            </div>
          </semantic-link>
        </li> --}}

        <mp-user-language-switch></mp-user-language-switch>
        <li>
          <mp-anonymous-hidden alt='<li><a href="/login" title="login"></a></li>'>

            <semantic-query query='SELECT DISTINCT ?systemUser ?systemUserName ?actorFullName ?mainImage ?group ?groupFullName { 
                                    BIND(IRI(REPLACE(STR(?__useruri__), "%40", "_")) as ?systemUser)
                                    BIND(REPLACE(REPLACE(STR(?__useruri__), STR(User:), ""), "%40", "@") as ?systemUserName)

                                    OPTIONAL {
                                      ?systemUser crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/user> .
                                      ?systemUser crm:P1_is_identified_by ?actorName .
                                      ?actorName a crm:E41_Appellation .
                                      ?actorName crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> .
                                      ?actorName crm:P190_has_symbolic_content ?actorFullName .
                                    }

                                    OPTIONAL {
                                      ?systemUser rs:PX_has_main_representation ?mainImage .
                                      ?mainImage a rs:EX_Digital_Image .
                                    }

                                    OPTIONAL {
                                      ?systemUser crm:P107i_is_current_or_former_member_of ?group .
                                      ?group crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/user> .
                                      ?group a crm:E74_Group .
                                      ?group crm:P1_is_identified_by ?groupName .
                                      ?groupName a crm:E41_Appellation .
                                      ?groupName crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> .
                                      ?groupName crm:P190_has_symbolic_content ?groupFullName .
                                    }
                                  }'
                          template='\{{> template}}'>

            <template id='template'>
              <bs-dropdown id="navbar-dropdown" class="user-dropdown">
                <bs-dropdown-toggle>
                  <div class="navDropdown-iconAndLabel"> 
                    \{{#if bindings.0.actorFullName.value}}
                      \{{#if bindings.0.mainImage.value}}
                        <img src="\{{bindings.0.mainImage.value}}" width="22" height="22" \>
                      \{{else}}
                        <rs-icon icon-type="round" icon-name="account_box"></rs-icon>
                      \{{/if}}
                      </mp-resource-thumbnail>
                      <div>\{{bindings.0.actorFullName.value}}</div>
                    \{{else}}
                      <rs-icon icon-type="round" icon-name="account_box"></rs-icon>
                      <div>\{{bindings.0.systemUserName.value}}</div>
                    \{{/if}}
                  </div>
                </bs-dropdown-toggle>
                <bs-dropdown-menu>
                  \{{#if bindings.0.actorFullName.value}}
                    <semantic-link-container  uri="http://www.researchspace.org/resource/ThinkingFrames"
                                              urlqueryparam-view='resource-editor' 
                                              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                                              urlqueryparam-resource-iri="\{{bindings.0.systemUser.value}}"
                                              urlqueryparam-mode='edit'>
                      <bs-menu-item>
                        <rs-icon icon-type="round" icon-name="account_box" class="icon-left"></rs-icon>
                        <span>My profile</span> 
                      </bs-menu-item>
                    </semantic-link-container>
                  \{{else}}
                    <semantic-link-container uri='http://www.researchspace.org/resource/ThinkingFrames'
                                            urlqueryparam-view='resource-editor' 
                                            urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                                            urlqueryparam-custom-label='New profile'
                                            urlqueryparam-mode='new'>
                      <bs-menu-item>
                        <rs-icon icon-type="round" icon-name="account_box" class="icon-left"></rs-icon>
                        <span>My profile (not registered user)</span>  
                      </bs-menu-item>
                    </semantic-link-container>
                  \{{/if}}
                  
                  \{{#if bindings.0.group.value}}
                    \{{#each bindings}}
                      <semantic-link-container  uri="http://www.researchspace.org/resource/ThinkingFrames"
                                                urlqueryparam-view='resource-editor' 
                                                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                                                urlqueryparam-resource-iri="\{{group.value}}"
                                                urlqueryparam-mode='edit'>
                        <bs-menu-item>
                          <rs-icon icon-type="round" icon-name="groups" class="icon-left"></rs-icon>
                          <span>My team: \{{groupFullName.value}}</span>
                        </bs-menu-item>
                      </semantic-link-container>
                    \{{/each}}
                  \{{/if}}

                  <bs-menu-item divider="true"></bs-menu-item>

                  <bs-menu-item href="/logout" title='logout'>
                    <rs-icon icon-type="round" icon-name="logout" class="icon-left"></rs-icon>
                    <span>Logout</span>
                  </bs-menu-item>
                </bs-dropdown-menu>
              </bs-dropdown>
            </template>

            </semantic-query>

          </mp-anonymous-hidden>
        </li>

        <li>
        {{!--  <bs-dropdown id="navbar-dropdown" class="feedback-dropdown">
              <bs-dropdown-toggle class="btn btn-icon">
                <rs-icon icon-type="round" icon-name="forum"></rs-icon>
              </bs-dropdown-toggle>
              <bs-dropdown-menu>
                  <bs-menu-item>
                    <rs-icon icon-type="round" icon-name="add_box" class="icon-left"></rs-icon>
                    New feedback
                  </bs-menu-item>

                  <bs-menu-item>
                    <rs-icon icon-type="round" icon-name="feed" class="icon-left"></rs-icon>
                    All feedback
                  </bs-menu-item>
              </bs-dropdown-menu>
          </bs-dropdown> --}}
            <mp-overlay-dialog title="Contact us" type="modal" bs-size="large">
              <mp-overlay-dialog-trigger>
                <button class="btn btn-icon">
                  <rs-icon icon-type="round" icon-name="forum"></rs-icon>
                </button>
              </mp-overlay-dialog-trigger>

              <mp-overlay-dialog-content>
                This version of ResearchSpace has been created and released by Kartography CIC.

                <a href="https://researchspace.org/" title="ResearchSpace" target="_blank" class="text-link-action">
                  ResearchSpace
                </a>

                <a href="https://researchspace.org/blog/" title="ResearchSpace blog" target="_blank" class="text-link-action">
                  ResearchSpace blog
                </a>

                <a href="https://kartography.org/" title="Kartography" target="_blank" class="text-link-action">
                  Kartography
                </a>
                
              </mp-overlay-dialog-content>
          </mp-overlay-dialog>
          
        </li>

        <li>
          <button class="btn btn-icon">
            <a href="https://documentation.researchspace.org/resource/rsp:Start" title="Help center" target="_blank">
              <rs-icon icon-type="round" icon-name="help_center"></rs-icon>
            </a>
          </button>
        </li>

        <mp-anonymous-hidden>
          <li>
            <button class="btn btn-icon">
              <semantic-link iri="http://www.researchspace.org/resource/admin" title="System Settings" target="_blank">
                <rs-icon icon-type="round" icon-name="settings"></rs-icon>
              </semantic-link>
            </button>
          </li>
        </mp-anonymous-hidden>

      </ul>
    </div>
  </div>
</nav>


