<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="rs-header">
    <!-- Logo and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#rs-navbar"
                aria-expanded="false" aria-controls="rs-navbar" aria-label="Toggle navigation">
      <semantic-link-container  uri="http://www.researchspace.org/resource/ThinkingFrames" 
                                urlqueryparam-view='homepage'>
          <img src="/assets/images/logos/researchspace_symbol_white.svg">
        
      </semantic-link-container>

      {{> navbarRight }}
      </div>

      <semantic-link-container  uri="http://www.researchspace.org/resource/ThinkingFrames" 
                                urlqueryparam-view='homepage'>
        <div class="rs-header-logo">
          <img src="/assets/images/logos/researchspace_symbol_white.svg">
        </div>
      </semantic-link-container>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="rs-navbar">

      <ul class="nav navbar-nav navbar-left">
        <mp-anonymous-hidden>
          <li>
            <bs-dropdown id="navbar-dropdown">
              <bs-dropdown-toggle>
                <div>Create</div>
              </bs-dropdown-toggle>
              <bs-dropdown-menu>
                <div class="dropdown-sectionTitle">
                  ResearchSpace tools
                </div>
                <div class="dropdown-grid-container">
                  <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames" 
                                            urlqueryparam-view='semantic-narrative'>
                    <bs-menu-item draggable="false">
                      <div class="dropdown-item-iconContainer">
                        <rs-icon icon-type="rounded" icon-name="description" style="color: #ffb450;" symbol="true"></rs-icon>
                      </div>
                      <div>
                        <div class="dropdown-item-title">Semantic narrative</div>
                        <div class="dropdown-item-description">Compose and share your research through an evolving narrative.</div>
                      </div>
                    </bs-menu-item>
                  </semantic-link-container>

                  <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames" 
                                            urlqueryparam-view='knowledge-map'>
                    <bs-menu-item draggable="false">
                      <div class="dropdown-item-iconContainer">
                        <rs-icon icon-type="rounded" icon-name="account_tree" style="color: #ff7f66;" symbol="true"></rs-icon>
                      </div>
                      <div>
                        <div class="dropdown-item-title">Knowledge Map</div>
                        <div class="dropdown-item-description">Express research thinking and processes as networks of relations.</div>
                      </div>
                    </bs-menu-item>
                  </semantic-link-container>

                  <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames" 
                                            urlqueryparam-view='resource-search'
                                            urlqueryparam-iri='http://www.researchspace.org/resource/system/resource_configurations_container/data/Authority_document'
                                            urlqueryparam-custom-label='Search Authority document'>
                    <bs-menu-item draggable="false">
                      <div class="dropdown-item-iconContainer">
                        <rs-icon icon-type="rounded" icon-name="dictionary" style="color: #10BC7A;" symbol="true"></rs-icon>
                      </div>
                      <div>
                        <div class="dropdown-item-title">Authority document</div>
                        <div class="dropdown-item-description">Create, view and edit list of resources like authority documents, vocabularies, thesauri, etc.</div>
                      </div>
                    </bs-menu-item>
                  </semantic-link-container>

                  <semantic-link-container  uri="http://www.researchspace.org/resource/ThinkingFrames" 
                                            urlqueryparam-view='import-from-external-source'
                                            urlqueryparam-custom-label='Import from external source'>
                    <bs-menu-item draggable="false">
                      <div class="dropdown-item-iconContainer">
                        <rs-icon icon-type="rounded" icon-name="download" style="color: #5c88fe;" symbol="true"></rs-icon>
                      </div>
                      <div>
                        <div class="dropdown-item-title">Import from external source</div>
                        <div class="dropdown-item-description">Import new resources from external sources like OpenStreetMap, Wikipedia, etc.</div>
                      </div>
                    </bs-menu-item>
                  </semantic-link-container>

                </div>
              </bs-dropdown-menu>
            </bs-dropdown>
          </li>
        </mp-anonymous-hidden>

        <mp-anonymous-hidden>
          <li>
            <mp-event-proxy id='closeModal-onSelect-newResource-proxy'
                          on-event-source="link"
                          on-event-type='Dashboard.AddFrame'
                          on-event-data='{"linkType": "open-new-resource-form-from-modal"}'
                          proxy-event-type='OverlayDialog.Close' 
                          proxy-targets='["newResource-form-dialog"]'
            ></mp-event-proxy>

            <mp-overlay-dialog title="New resource" type="lightbox" id="newResource-form-dialog">
              <mp-overlay-dialog-trigger>
                <button class="btn btn-default btn-textAndIcon">
                  <rs-icon icon-type="round" icon-name="add_box"></rs-icon>
                  <span>New resource</span>
                </button>
              </mp-overlay-dialog-trigger>
              <mp-overlay-dialog-content>
                <bs-tab-container id="new-resource-tab-container" default-active-key="all" >
                  <bs-tabs mount-on-enter="true">
                    <bs-tab event-key="all" title="All resources" mount-on-enter="true">
                      <div class="resources-tab-container">
                        <semantic-table id='newResource-tab-results'
                                        class-name="resources-tab-table"
                                        query='SELECT ?resourceConfig ?resourceName ?resourceOntologyClass ?resourceFormIRI ?resourceIcon ?resourceDescription WHERE {
                                                ?resourceConfig a Platform:resource_configuration . 
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceName .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                              
                                                OPTIONAL {
                                                  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                                                }

                                                OPTIONAL {
                                                  ?resourceConfig<http://www.researchspace.org/pattern/system/resource_configuration/resource_description> ?resourceDescription .
                                                }

                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/KP_category>)
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/Image_annotation>)
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map>)
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_chart>)
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative>)
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_timeline>)
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set>)
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set_item>)
                                                FILTER(?resourceConfig != <http://www.researchspace.org/resource/system/resource_configurations_container/data/User>)
                                              } ORDER BY (LCASE(STR(?resourceName)))'

                                        tuple-template='\{{> newResourceCard}}',
                                        options='{"showFilter":true, "filterPlaceholderText":"Filter results by ontological type", "resultsPerPage":100}'
                        >
                          <template id='newResourceCard'>
                            {{> newResourceCard }}
                          </template>
                        </semantic-table>

                        {{> resourceInfoArea }}
                      </div>
                    </bs-tab>

                    <bs-tab event-key="general" title="Generic" mount-on-enter="true">
                      <div class="resources-tab-container">
                        <semantic-table id='newResource-tab-results'
                                        class-name="resources-tab-table"
                                        query='SELECT ?resourceConfig ?resourceName ?resourceOntologyClass ?resourceFormIRI ?resourceIcon ?resourceDescription WHERE {
                                                ?resourceConfig a Platform:resource_configuration . 
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceName .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                                
                                                OPTIONAL {
                                                  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                                                }

                                                OPTIONAL {
                                                  ?resourceConfig<http://www.researchspace.org/pattern/system/resource_configuration/resource_description> ?resourceDescription .
                                                }
                                              
                                                FILTER (?resourceConfig NOT IN (
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set_item>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_chart>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_timeline>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/KP_category>)
                                                )

                                                FILTER (EXISTS {?resourceOntologyClass rdfs:subClassOf crm:E1_CRM_Entity} || (?resourceOntologyClass = crm:E1_CRM_Entity)) 

                                              } ORDER BY (LCASE(STR(?resourceName)))'
                                        tuple-template='\{{> newResourceCard}}',
                                        
                                        options='{"showFilter":true, "filterPlaceholderText":"Filter results by ontological type", "resultsPerPage":300}'
                        >
                          <template id='newResourceCard'>
                            {{> newResourceCard }}
                          </template>
                        </semantic-table>

                        {{> resourceInfoArea }}
                      </div>
                    </bs-tab>

                    <bs-tab event-key="thing" title="Things" mount-on-enter="true">
                      <div class="resources-tab-container">
                        <semantic-table  id='newResource-tab-results'
                                        class-name="resources-tab-table"
                                        query='SELECT ?resourceConfig ?resourceName ?resourceOntologyClass ?resourceFormIRI ?resourceIcon ?resourceDescription WHERE {
                                                ?resourceConfig a Platform:resource_configuration . 
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceName .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                              
                                                OPTIONAL {
                                                  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                                                }

                                                OPTIONAL {
                                                  ?resourceConfig<http://www.researchspace.org/pattern/system/resource_configuration/resource_description> ?resourceDescription .
                                                }

                                                FILTER (?resourceConfig NOT IN (
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set_item>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_chart>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_timeline>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/KP_category>,

                                                  #removed person, because subClass of Biological object
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Person>)
                                                )

                                                FILTER (EXISTS {?resourceOntologyClass rdfs:subClassOf* crm:E18_Physical_Thing} || (?resourceOntologyClass = crm:E70_Thing) || (?resourceOntologyClass = crm:E71_Human-Made_Thing) || (?resourceOntologyClass = crm:E72_Legal_Object) )


                                              } ORDER BY (LCASE(STR(?resourceName)))'

                                        tuple-template='\{{> newResourceCard}}',
                                        options='{"showFilter":true, "filterPlaceholderText":"Filter results by ontological type", "resultsPerPage":50}'
                        >
                          <template id='newResourceCard'>
                            {{> newResourceCard }}
                          </template>
                        </semantic-table>

                        {{> resourceInfoArea }}
                      </div>
                    </bs-tab>

                    <bs-tab event-key="actor" title="Actors" mount-on-enter="true">
                      <div class="resources-tab-container">
                        <semantic-table  id='newResource-tab-results'
                                        class-name="resources-tab-table"
                                        query='SELECT ?resourceConfig ?resourceName ?resourceOntologyClass ?resourceFormIRI ?resourceIcon ?resourceDescription WHERE {
                                                ?resourceConfig a Platform:resource_configuration . 
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceName .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                              
                                                OPTIONAL {
                                                  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                                                }

                                                OPTIONAL {
                                                  ?resourceConfig<http://www.researchspace.org/pattern/system/resource_configuration/resource_description> ?resourceDescription .
                                                }

                                                FILTER (?resourceConfig NOT IN (
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set_item>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_chart>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_timeline>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/KP_category>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/User>)
                                                )

                                                FILTER EXISTS {?resourceOntologyClass rdfs:subClassOf* crm:E39_Actor} 

                                              } ORDER BY (LCASE(STR(?resourceName)))'

                                        tuple-template='\{{> newResourceCard}}',
                                        options='{"showFilter":true, "filterPlaceholderText":"Filter results by ontological type", "resultsPerPage":50}'
                        >
                          <template id='newResourceCard'>
                            {{> newResourceCard }}
                          </template>
                        </semantic-table>

                        {{> resourceInfoArea }}
                      </div>
                    </bs-tab>

                    <bs-tab event-key="event" title="Events" mount-on-enter="true">
                      <div class="resources-tab-container">
                        <semantic-table  id='newResource-tab-results'
                                        class-name="resources-tab-table"
                                        query='SELECT ?resourceConfig ?resourceName ?resourceOntologyClass ?resourceFormIRI ?resourceIcon ?resourceDescription WHERE {
                                                ?resourceConfig a Platform:resource_configuration . 
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceName .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                              
                                                OPTIONAL {
                                                  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                                                }

                                                OPTIONAL {
                                                  ?resourceConfig<http://www.researchspace.org/pattern/system/resource_configuration/resource_description> ?resourceDescription .
                                                }

                                                FILTER (?resourceConfig NOT IN (
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set_item>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_chart>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_timeline>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/KP_category>)
                                                )

                                                FILTER EXISTS {?resourceOntologyClass rdfs:subClassOf* crm:E2_Temporal_Entity} 

                                              } ORDER BY (LCASE(STR(?resourceName)))'

                                        tuple-template='\{{> newResourceCard}}',
                                        options='{"showFilter":true, "filterPlaceholderText":"Filter results by ontological type", "resultsPerPage":50}'
                        >
                          <template id='newResourceCard'>
                            {{> newResourceCard }}
                          </template>
                        </semantic-table>

                        {{> resourceInfoArea }}
                      </div>
                    </bs-tab>

                    <bs-tab event-key="concepts" title="Conceptual objects" mount-on-enter="true">
                      <div class="resources-tab-container">
                        <semantic-table  id='newResource-tab-results'
                                        class-name="resources-tab-table"
                                        query='SELECT ?resourceConfig ?resourceName ?resourceOntologyClass ?resourceFormIRI ?resourceIcon ?resourceDescription WHERE {
                                                ?resourceConfig a Platform:resource_configuration . 
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceName .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                              
                                                OPTIONAL {
                                                  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                                                }

                                                OPTIONAL {
                                                  ?resourceConfig<http://www.researchspace.org/pattern/system/resource_configuration/resource_description> ?resourceDescription .
                                                }

                                                FILTER (?resourceConfig NOT IN (
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set_item>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Set>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_chart>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_narrative>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Semantic_timeline>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Knowledge_map>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/KP_category>,

                                                  #following resources are removed as listed in System resources or not for data entry,but only for resource edit
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Authority_document>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Document>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Image>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Image_annotation>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Audio>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Video>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/3d_model>,
                                                  <http://www.researchspace.org/resource/system/resource_configurations_container/data/Publication>)
                                                )

                                                FILTER EXISTS {?resourceOntologyClass rdfs:subClassOf* crm:E28_Conceptual_Object} 

                                              } ORDER BY (LCASE(STR(?resourceName)))'

                                        tuple-template='\{{> newResourceCard}}',
                                        options='{"showFilter":true, "filterPlaceholderText":"Filter results by ontological type", "resultsPerPage":50}'
                        >
                          <template id='newResourceCard'>
                            {{> newResourceCard }}
                          </template>
                        </semantic-table>

                        {{> resourceInfoArea }}
                      </div>
                    </bs-tab>

                    <bs-tab event-key="system" title="System resources" mount-on-enter="true">
                      <div class="resources-tab-container">
                        <semantic-table  id='newResource-tab-results'
                                        class-name="resources-tab-table"
                                        query='SELECT ?resourceConfig ?resourceName ?resourceOntologyClass ?resourceFormIRI ?resourceIcon ?resourceDescription WHERE {
                                                VALUES (?resourceConfig) { 
                                                  (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Authority_document>)
                                                  (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Document>)
                                                  (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Image>)
                                                  (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Publication>)
                                                  (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Audio>)
                                                  (<http://www.researchspace.org/resource/system/resource_configurations_container/data/Video>)
                                                  (<http://www.researchspace.org/resource/system/resource_configurations_container/data/3d_model>)
                                                }

                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_name> ?resourceName .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_ontology_class> ?resourceOntologyClass .
                                                ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_form> ?resourceFormIRI .
                                                
                                                OPTIONAL {
                                                  ?resourceConfig <http://www.researchspace.org/pattern/system/resource_configuration/resource_card_icon> ?resourceIcon .
                                                }

                                                OPTIONAL {
                                                  ?resourceConfig<http://www.researchspace.org/pattern/system/resource_configuration/resource_description> ?resourceDescription .
                                                }
                                              } ORDER BY (LCASE(STR(?resourceName)))'

                                        tuple-template='\{{> newResourceCard}}',
                                        options='{"showFilter":true, "filterPlaceholderText":"Filter results by ontological type", "resultsPerPage":50}'
                        >
                          <template id='newResourceCard'>
                            {{> newResourceCard }}
                          </template>
                        </semantic-table>

                        {{> resourceInfoArea }}
                      </div>
                    </bs-tab>

                  </bs-tabs>
                </bs-tab-container>

              </mp-overlay-dialog-content>
            </mp-overlay-dialog>
          </li>
        </mp-anonymous-hidden>

        <mp-anonymous-hidden>
          <li>
              <semantic-link-container  uri="http://www.researchspace.org/resource/ThinkingFrames" 
                                        urlqueryparam-view='resource-editor'
                                        urlqueryparam-mode="new"
                                        urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/Project'
                                        urlqueryparam-custom-label='New Project'>
                  <button class="btn btn-action btn-textAndIcon" >
                    <rs-icon icon-type="round" icon-name="add_box"></rs-icon>
                    <span>New Project</span>
                  </button>
              </semantic-link-container>           
          </li>
        </mp-anonymous-hidden>

      </ul>

      {{> navbarRight }}
    </div>
  </div>
</nav>

{{#*inline "navbarRight"}}
  <ul class="nav navbar-nav navbar-right">
    {{!-- Update profile-dropdown on resourceForm actions --}}
    <semantic-query query='SELECT ?systemUser WHERE {
                            BIND(IRI(REPLACE(STR(?__useruri__), "%40", "_")) as ?systemUser)
                          }'
                    template='\{{> template}}'>
        <template id='template'>
          <div>
            <mp-event-proxy id='update-profile-dropdown-on-resourceForm-actions2'
                            on-event-source='\{{bindings.0.systemUser.value}}-resource-form'
                            on-event-types='["Form.ResourceCreated", "Form.ResourceUpdated", "Form.ResourceRemoved"]'         
                            proxy-event-type='Component.TemplateUpdate' 
                            proxy-targets='["header-profile-dropdown"]'
            ></mp-event-proxy> 
          </div>
        </template>
    </semantic-query>

    <mp-user-language-switch></mp-user-language-switch>
    <li>
      <mp-anonymous-hidden alt='<li><a href="/login" title="login"></a></li>'>
        <mp-event-target-template-render id='header-profile-dropdown' template='\{{> template}}'>
          <template id='template'>
            <semantic-query query='SELECT DISTINCT ?systemUser ?systemUserName ?actorFullName ?group ?groupFullName ?image ?imageType { 
                                    BIND(IRI(REPLACE(STR(?__useruri__), "%40", "_")) as ?systemUser)
                                    BIND(REPLACE(REPLACE(STR(?__useruri__), STR(User:), ""), "%40", "@") as ?systemUserName)

                                    OPTIONAL {
                                      ?systemUser crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/user> .
                                      ?systemUser crm:P1_is_identified_by ?actorName .
                                      ?actorName a crm:E41_Appellation .
                                      ?actorName crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> .
                                      ?actorName crm:P190_has_symbolic_content ?actorFullName .
                                    }

                                    OPTIONAL {
                                      ?systemUser crm:P02i_is_range_of ?pc107 .
                                      ?pc107 rdf:type crm:PC107_has_current_or_former_member .
                                      ?pc107 crm:P01_has_domain ?group .
                                      ?group crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/user> .
                                      ?group a crm:E74_Group .
                                      ?group crm:P1_is_identified_by ?groupName .
                                      ?groupName a crm:E41_Appellation .
                                      ?groupName crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> .
                                      ?groupName crm:P190_has_symbolic_content ?groupFullName .
                                    }

                                    OPTIONAL {
                                      ?systemUser rs:PX_has_main_representation ?image . 
                                      ?image a ?imageType .
                                      FILTER(?imageType in (rs:EX_Digital_Image, rs:EX_Digital_Image_Region))
                                    }
                                  }'
                          template='\{{> template}}'>

            <template id='template'>

              <bs-dropdown id="navbar-dropdown" class="user-dropdown">
                <bs-dropdown-toggle>
                  <div class="navDropdown-iconAndLabel"> 
                    <mp-resource-thumbnail iri='\{{bindings.0.systemUser.value}}' style="width: 25px; height:25px; border-radius:1.5px; object-fit: cover; object-position: top;">
                      <mp-resource-thumbnail-fallback>
                          <rs-icon icon-type="round" icon-name="account_box"></rs-icon>
                      </mp-resource-thumbnail-fallback>
                    </mp-resource-thumbnail>  
                    \{{#if bindings.0.actorFullName.value}}
                      <div>\{{bindings.0.actorFullName.value}}</div>
                    \{{else}}
                      <div>\{{bindings.0.systemUserName.value}}</div>
                    \{{/if}}
                  </div>
                </bs-dropdown-toggle>
                <bs-dropdown-menu>
                  \{{#if bindings.0.actorFullName.value}}
                    <semantic-link-container  uri="http://www.researchspace.org/resource/ThinkingFrames"
                                              urlqueryparam-view='resource-editor' 
                                              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                                              urlqueryparam-resource-iri="\{{bindings.0.systemUser.value}}"
                                              urlqueryparam-mode='edit'>
                      <bs-menu-item draggable="false">
                        <rs-icon icon-type="rounded" icon-name="account_box" class="icon-left" symbol="true"></rs-icon>
                        <span>My profile</span> 
                      </bs-menu-item>
                    </semantic-link-container>
                  \{{else}}
                    <semantic-link-container uri='http://www.researchspace.org/resource/ThinkingFrames'
                                            urlqueryparam-view='resource-editor' 
                                            urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                                            urlqueryparam-custom-label='New profile'
                                            urlqueryparam-mode='new'>
                      <bs-menu-item draggable="false">
                        <rs-icon icon-type="rounded" icon-name="account_box" class="icon-left" symbol="true"></rs-icon>
                        <span>My profile (not registered user)</span>  
                      </bs-menu-item>
                    </semantic-link-container>
                  \{{/if}}
                  
                  \{{#if bindings.0.group.value}}
                    \{{#each bindings}}
                      <semantic-link-container  uri="http://www.researchspace.org/resource/ThinkingFrames"
                                                urlqueryparam-view='resource-editor' 
                                                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                                                urlqueryparam-resource-iri="\{{group.value}}"
                                                urlqueryparam-mode='edit'>
                        <bs-menu-item draggable="false">
                          <rs-icon icon-type="rounded" icon-name="groups" class="icon-left" symbol="true"></rs-icon>
                          <span>My team - \{{groupFullName.value}}</span>
                        </bs-menu-item>
                      </semantic-link-container>
                    \{{/each}}
                  \{{/if}}

                  <bs-menu-item divider="true" draggable="false"></bs-menu-item>

                  <bs-menu-item href="/logout" title='logout' draggable="false">
                    <rs-icon icon-type="rounded" icon-name="logout" class="icon-left" symbol="true"></rs-icon>
                    <span>Logout</span>
                  </bs-menu-item>
                </bs-dropdown-menu>
              </bs-dropdown>
            </template>
            </semantic-query>
          </template>
        </mp-event-target-template-render>
      </mp-anonymous-hidden>
    </li>

    <li>
        <mp-overlay-dialog id="header-contact-modal" type="modal" bs-size="large" class="header-contact-modal">
          <mp-overlay-dialog-trigger>
            <button class="btn btn-icon" title="Contact & support">
              <rs-icon icon-type="round" icon-name="forum"></rs-icon>
            </button>
          </mp-overlay-dialog-trigger>

          <mp-overlay-dialog-content>
                <div class="contact-container">
                <div class="contact-motif"></div>
                <div class="contact-header">
                  <div class="title">Contact & Support</div>
                  <div class="contact-icons-container">
                      <a href="https://www.researchspace.org/" title="Researchspace website" target="_blank">
                        <i class="rs-icon rs-icon-researchspace"></i>
                      </a>
                      <a href="mailto:info@kartography.org" title="mailto:info@kartography.org" target="_blank">
                        <i class="rs-icon rs-icon-mail_send"></i>
                      </a>
                      <a href="https://www.youtube.com/channel/UCtUOzTB2vBG9ZimeDVrlULQ/featured" title="Youtube researchspace" target="_blank">
                        <i class="rs-icon rs-icon-youtube"></i>
                      </a>
                      <a href="https://github.com/researchspace/researchspace" title="Github researchspace" target="_blank">
                        <i class="fa fa-github-square"></i>
                      </a>
                  </div>
                </div>

                <div class="contact-content">
                  <div>This version of ResearchSpace is released and supported by <a href="https://kartography.org/" title="Kartography" target="_blank" class="text-link-action">Kartography CIC</a>.</div>
                  <div style="padding: 10px 0 10px 0;">Kartography offers:</div>
                  <div class="contact-card-container">
                    
                    <div class="contact-card"> 
                      <rs-icon icon-type="rounded" icon-name="biotech" symbol="true"></rs-icon>
                      <div>
                        <div class="card-title">Consultancy</div>
                        <div class="card-content">We offer comprehensive consultancy services — including process analysis, data strategies, and ResearchSpace-related software development.</div>
                      </div>
                    </div>
                    <div class="contact-card"> 
                      <rs-icon icon-type="rounded" icon-name="display_settings" symbol="true"></rs-icon>
                      <div>
                        <div class="card-title">Customisations of ResearchSpace</div>
                        <div class="card-content">We design and develop bespoke UI/UX interactions, visualisations and workflows using ResearchSpace functionalities.</div>
                      </div>
                    </div>
                    <div class="contact-card"> 
                      <rs-icon icon-type="rounded" icon-name="data_exploration" symbol="true"></rs-icon>
                      <div>
                        <div class="card-title">Diversity and inclusion in data</div>
                        <div class="card-content">Our expertise lies in bringing together diverse disciplines through the use of semantic data and interactive environments. This approach enhances collaboration and ensures that a wide array of perspectives, especially those that are usually underrepresented in data, are captured and valued in any project.</div>
                      </div>
                    </div>
                    <div class="contact-card"> 
                      <rs-icon icon-type="rounded" icon-name="linked_services" symbol="true"></rs-icon>
                      <div>
                        <div class="card-title">Knowledge representation using Linked Data</div>
                        <div class="card-content">We use CIDOC CRM real world ontologies for data modelling with context, preserving meaning and relationships.</div>
                      </div>
                    </div>
                                          
                    <div class="contact-card"> 
                      <rs-icon icon-type="rounded" icon-name="school" symbol="true"></rs-icon>
                      <div>
                        <div class="card-title">Training</div>
                        <div class="card-content">
                          We organize workshops and personalized training sessions to help with the use of ResearchSpace. These are available periodically and upon request.
                        </div>
                      </div>
                    </div>
                    <div class="contact-card"> 
                      <rs-icon icon-type="rounded" icon-name="live_help" symbol="true"></rs-icon>
                      <div>
                        <div class="card-title">Technical support</div>
                        <div class="card-content">We can assist in setting up, maintaining, and developing your ResearchSpace instance, whether for local deployment or integration into existing infrastructures.</div>
                      </div>
                    </div>
                  </div>
                  <div class="contact-content-buttons">
                    <mp-event-trigger id='header-close-header-contact-modal' 
                                      type='OverlayDialog.Close' 
                                      targets='["header-contact-modal"]'>
                      <button class="btn btn-default">Close</button>
                    </mp-event-trigger>
                  </div>
                </div>
              </div>               
          </mp-overlay-dialog-content>
      </mp-overlay-dialog>
      
    </li>

    <li>
      <button class="btn btn-icon">
        <a href="https://documentation.researchspace.org/resource/rsp:Start" title="Help center" target="_blank" draggable="false">
          <rs-icon icon-type="round" icon-name="help_center"></rs-icon>
        </a>
      </button>
    </li>

    <mp-anonymous-hidden>
      <li>
        <button class="btn btn-icon">
          <semantic-link iri="http://www.researchspace.org/resource/admin" title="System settings" target="_blank">
            <rs-icon icon-type="round" icon-name="settings"></rs-icon>
          </semantic-link>
        </button>
      </li>
    </mp-anonymous-hidden>

  </ul>
{{/inline}}

{{#*inline "newResourceCard"}}
  <semantic-link-container uri="http://www.researchspace.org/resource/ThinkingFrames"                                            
                    urlqueryparam-view='resource-editor'
                    urlqueryparam-entity-type-config='\{{resourceConfig.value}}'
                    urlqueryparam-mode="new"
                    urlqueryparam-custom-label='New \{{resourceName.value}}'
                    urlqueryparam-link-type="open-new-resource-form-from-modal">
      <div class="new-resource-card">
        <mp-event-trigger id='\{{resourceName.value}}-info-button-trigger' 
                          type='Component.TemplateUpdate'
                          data='{"resourceName": "\{{resourceName.value}}",
                                  "resourceOntologyClass": "\{{resourceOntologyClass.value}}",
                                  "resourceDescription": "\{{resourceDescription.value}}"
                                }' 
                          targets='["resource-info-area"]'>
        
            <rs-icon icon-type="rounded" icon-name="info_i" symbol="true" class="new-resource-card-info"></rs-icon>
        </mp-event-trigger>
        \{{#if resourceIcon}}
          <rs-icon icon-type="rounded" icon-name="\{{resourceIcon.value}}" symbol="true"></rs-icon>
        \{{else}}
          <rs-icon icon-type="rounded" icon-name="bubble_chart" symbol="true"></rs-icon>
        \{{/if}}
        <div class="color-secondary text-font-size__base">\{{resourceName.value}}</div>
      </div>
  </semantic-link-container>
{{/inline}}

{{#*inline "resourceInfoArea"}}
  <mp-event-target-template-render id='resource-info-area' template='\{{> template}}'>
    <template id='template'>
      \{{#if resourceName}}
        <div class="resource-info-area-container">
          <div class="resource-info-area-header">
            <b class="text-truncate-line1">\{{resourceName}}</b>
            <mp-event-trigger id='close-info-section'
                              type='Component.TemplateUpdate'
                              data='{ "hideSection": "true" }'
                              targets='["resource-info-area"]'>
              <button class="btn btn-icon">
                <rs-icon icon-type="rounded" icon-name="close" symbol="true"></rs-icon>
              </button>
            </mp-event-trigger>
          </div>
          <div class="resource-info-area-content color-secondary">
            \{{#if resourceDescription}}
              <div class="resource-info-area-section-title">\{{resourceName}} definition:</div>
              <div class="text-section">\{{resourceDescription}}</div>  
            \{{else}}
              <semantic-query query='SELECT DISTINCT ?ontologyDescription ?ontologyExamples WHERE {
                                        <\{{resourceOntologyClass}}> rdfs:comment ?ontologyDescription .
                                        OPTIONAL {
                                          <\{{resourceOntologyClass}}> skos:example ?ontologyExamples .
                                        }
                                      }'
                              template='\{{> template}}'
                              no-result-template='\{{> noResults}}'>

                <template id='template'>
                  <div>
                    \{{#if bindings.0.ontologyDescription.value}}
                      <div class="resource-info-area-section-title">\{{resourceName}} definition:</div>
                      <div class="text-section">
                        \{{#each bindings}}
                          <p>\{{ontologyDescription.value}}</p>
                        \{{/each}}
                      </div>
                    \{{/if}}
                    
                    \{{#if bindings.0.ontologyExamples.value}}
                      <div class="resource-info-area-section-title">Examples:</div>
                      <div class="text-section example-section">
                        \{{#each bindings}}
                         <p>\{{ontologyExamples.value}}</p>
                        \{{/each}}
                      </div>
                    \{{/if}}
                  </div>
                </template>
                                  
                <template id="noResults">
                  <div>No definition available</div>
                </template>

              </semantic-query>
            \{{/if}}
          </div>
        </div>
      \{{/if}}
      \{{#if hideSection}}
      \{{/if}}
    </template>
  </mp-event-target-template-render>
{{/inline}}