<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Hercules</title>
  <link href="{{assetsMap.basic_styling}}" rel="stylesheet" title="Default Style">
  <link href="../../assets/style/hercules.css" rel="stylesheet" type="text/css">
  <link href="../../assets/style/login.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="login-container" data-flex-layout="column justify-center">

    <div>
      <div class="logo--login">
        <img src="../../assets/images/logo_160px_grey.png" alt="Hercules" />
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          {{#if shiroLoginFailure}}
          <div class="alert alert-danger">
            <strong>{{shiroLoginFailure}}</strong>
          </div>
          {{/if}}
          <form form name="loginform" action="" method="POST" accept-charset="UTF-8" role="form">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="{{i18n "username" locale="fr"}}" name="username" type="text">
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="{{i18n "password" locale="fr"}}" name="password" type="password" value="">
              </div>
              <input class="btn btn-md btn-block btn-login gradient-background" type="submit" value="{{i18n "login" locale="fr"}}">
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <div class="powered-by text-muted">
      {{i18n "poweredBy" locale="fr"}}
      <a href="https://www.researchspace.org/"> <img src="/assets/no_auth/researchspace_black.svg"
          alt="Researchspace" /></a>
    </div>

  </div>

</body>

</html>